body {
  background-color: rgb(24, 24, 24);
}

h2 {
  color: white;
  text-shadow: 2px 1px 2px black;
  text-align: center;
}

h3 {
  color: rgb(251, 247, 247);
  text-shadow: 1px 1px 2px black;
}

h4 {
  color: white;
  text-shadow: 2px 1px 2px black;
}

#headingdiv {
  text-align: center;
  font-size: 2rem;
  font-family: monospace, Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 2px 1px 2px black;
  margin-bottom: 3rem;
}

#converterDiv {
  float: left;
  width: 50%;
}

#converterBlock {
  background-color: rgb(128, 128, 128);
  margin-left: 2rem;
  border: 0.2rem solid white;
  padding: 0.1rem;
  width: 90%;
  height: 30rem;
}

#temperatureMenu {
  position: absolute;
  top: 10.7rem;
  left: 12.5rem;
}

#LengthMenu{
  position: absolute;
  top: 18.5rem;
  left: 12.5rem;
}

#calculatorDiv {
  float: left;
  width: 50%;
}

#calculatorBlock {
  background-color: grey;
  border: 0.2rem solid white;
  padding: 0.1rem;
  width: 90%;
}

.headingThreeSpan {
  padding: 1rem;
  font-size: 1.4rem;
  margin-left: -0.5rem;
}

.elementDiv {
  margin-left: 0.5rem;
  margin-top: -0.6rem;
  margin-bottom: 3rem;
  border: 0.1rem solid white;
  background-color: rgb(120, 118, 118);
  width: 97%;
  height: 6rem;
  text-shadow: 2px 1px 2px black;
}

#footer {
  position: absolute;
  bottom: 0;
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  clear: both;
  color: white;
}

/*--------------------------------------------------------------------------------------------
Sourced From: https://www.w3schools.com/howto/howto_css_dropdown.asp (Modified from original)
Dropdown Button */
.dropbtn {
  background-color: #e2e1e1;
  color: black;
  padding: 0.1rem;
  font-size: 10rem;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdownMenu {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8a8a8a;
  color: white;
  min-width: 7rem;
  z-index: 1;
}

/* Change color of dropdown buttons on hover */
.dropdown-content button:hover {
  background-color: rgb(49, 2, 2);
}

/* Show the dropdown menu on hover */
.dropdownMenu:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownMenu:hover .dropbtn {
  background-color: #4d0a0a;
  color: white;
}

/*--------------------------------------------------------------------------------------------*/

.dropdownButton {
  text-align: left;
  width: 100%;
  border: 0;
  background: none;
  color: white;
  outline: none;
}

/* Change color of dropdown buttons on click */
.dropdown-content button:focus {
  background-color: rgb(222, 14, 14);
}

.dropdown-content button:active {
  background-color: rgb(222, 14, 14);
}

#tempConvertButton {
  border: 0.12rem solid rgb(100, 4, 4);
  outline: none;
  box-shadow: 0.1rem 0.15rem;
  font-size: 1.3rem;
  position: fixed;
  left: 34.2rem;
  top: 10rem;
}



#convertedTemperature {
  font-size: 1.4rem;
  text-align: center;
  text-shadow: none;
  font-family: monospace, Arial, Helvetica, sans-serif;
  color: black;
  background: white;
  width: 9rem;
  position: absolute;
  top: 2.6rem;
  left: 6.7rem;
}

#convertedLength{
  font-size: 1.4rem;
  text-align: center;
  text-shadow: none;
  font-family: monospace, Arial, Helvetica, sans-serif;
  color: black;
  background: white;
  width: 9rem;
  position: absolute;
  top: 3.4rem;
  left: 6.7rem;
}


#lengthMenu{
  position: absolute;
  top: 10.7rem;
  left: 12.5rem;
}

#showConvertedUnitButton{
  margin-top: 1.5rem;
}

#lengthConvertButton{
  border: 0.12rem solid rgb(100, 4, 4);
  outline: none;
  box-shadow: 0.1rem 0.15rem;
  font-size: 1.3rem;
  position: fixed;
  left: 34.2rem;
  top: 19rem;
}
