/*Div holding Enemy Board and surrounding Div*/
#enemyBoardArea {
  color: white;
}

/*Div holding Enemy Board and surrounding Div*/
.enemyShipBoardArea {
  float: left;
  width: 45%;
  height: 25rem;
  border: 0.3rem ridge rgb(144, 141, 139);
  margin: 0.35rem;
  margin-left: 2rem;
}

/*Grid Containing Enemy grid blocks*/
.enemyGrid {
  position: inherit;
  width: 370px;
  display: grid;
  grid-template-columns: repeat(10, 37px);
  grid-template-rows: repeat(10, 37px);
  border: 0.3rem ridge rgb(69, 69, 69);
  margin-left: 0.5rem;
}

/*Styling for each grid block in enemy Grid*/
.enemyGridElement {
  position: inherit;
  z-index:1;
  background-color: red;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  color: white;
  cursor: crosshair;
  background-color: transparent;
}







#enemyInfoDisplayGrid {
  position: inherit;
  border: 0.3rem ridge rgb(144, 141, 139);
  background-color: rgb(50, 48, 48);
  width: 26%;
  float: right;
  height: 20rem;
  margin-top: -23rem;
  margin-left: 24.6rem;
  margin-right: 0.5rem;
}
