body{
    background-color: rgb(64, 122, 209);
    padding: 0;
    margin: 0;
}

#battleShipTitleArea{
    position: relative;
    z-index: 1;
    width: 98%;
    height: 4rem;
    border: 0.1rem solid white;
    margin: auto;
    margin-bottom: 0.1rem;
    color:white;
}

#battleshipTileImage{
    position:absolute;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}