/*Main Div Containing Player and Enemy Grid Boards*/
#playerGamePlayArea {
  position: relative;
  width: 98%;
  height: 27rem;
  margin: auto;
  border: 0.1rem solid white;
}

/*Div holding Player Board and surrounding Div*/
.playerShipBoardArea {
  float: left;
  width: 45%;
  height: 25rem;
  border: 0.3rem ridge rgb(144, 141, 139);
  margin: 0.35rem;
  margin-left: 2rem;
}

#playerBoardArea {
  color: white;
}


/*Grid Containing Player grid blocks*/
.playerGrid {
  width: 370px;
  display: grid;
  grid-template-columns: repeat(10, 37px);
  grid-template-rows: repeat(10, 37px);
  border: 0.3rem ridge rgb(69, 69, 69);
  margin-left: 0.3rem;
}

/*Styling for each grid block in player Grid*/
.playerGridElement {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  color: white;
  cursor: crosshair;
  background-color: transparent;
}

/*PLAYER SHIPS*/

.ship {
  position: absolute;
  z-index: 2;
  border: 0.2rem solid rgb(0, 0, 0);
  border-radius: 20%;
  background-color: rgb(77, 74, 73);
}

#playerCarrier {
  margin-top: 3px;
  margin-left: 3px;
  width: 175px;
  height: 25px;
}

#playerBattleship {
  margin-top: 151px;
  margin-left: 40px;
  width: 25px;
  height: 135px;
}

#playerCruiser {
  margin-top: 114px;
  margin-left: 114px;
  width: 25px;
  height: 100px;
}

#playerSubmarine {
  margin-top: 262px;
  margin-left: 188px;
  width: 100px;
  height: 25px;
}

#playerDestroyer {
  margin-top: 77px;
  margin-left: 188px;
  width: 60px;
  height: 25px;
}
