/*Main Div Containing Player and Enemy Grid Boards*/
#playerGamePlayArea {
  position: relative;
  width: 98%;
  height: 27rem;
  margin: auto;
  border: 0.1rem solid white;
}

/*Div holding Player Board and surrounding Div*/
.playerShipBoardArea {
  float: left;
  width: 45%;
  height: 25rem;
  border: 0.3rem ridge rgb(144, 141, 139);
  margin: 0.35rem;
  margin-left: 1rem;
}

#playerBoardArea {
  color: white;
}

/*Grid Containing Player grid blocks*/
#playerGrid {
  position: relative;
  width: 370px;
  display: grid;
  grid-template-columns: repeat(10, 37px);
  grid-template-rows: repeat(10, 37px);
  border: 0.3rem ridge rgb(69, 69, 69);
  margin-left: 0.3rem;
}

/*Styling for each grid block in player Grid*/
.playerGridElement {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  color: white;
  cursor: crosshair;
  background-color: transparent;
}

/*__________________________________________________________________________________*/
/*PLAYER SHIPS*/

.ship {
  position: absolute;
  z-index: 2;
  border: 0.2rem solid rgb(0, 0, 0);
  border-radius: 20%;
  background-color: rgb(77, 74, 73);
}

#playerCarrier {
  margin-top: 3px;
  margin-left: 3px;
  width: 175px;
  height: 25px;
}

#playerBattleship {
  margin-top: 151px;
  margin-left: 40px;
  width: 25px;
  height: 135px;
}

#playerCruiser {
  margin-top: 114px;
  margin-left: 114px;
  width: 25px;
  height: 100px;
}

#playerSubmarine {
  margin-top: 262px;
  margin-left: 188px;
  width: 100px;
  height: 25px;
  border-radius: 40%;
}

#playerDestroyer {
  margin-top: 77px;
  margin-left: 188px;
  width: 60px;
  height: 25px;
}

/*__________________________________________________________________________________*/
/*PLAYER BUTTONS*/

/*Div holding player buttons initially and game play details after*/
#playerButtonsAndDisplayDiv {
  position: inherit;
  border: none;
  background-color: transparent;
  width: 24%;
  float: right;
  height: 20rem;
  margin-top: -23rem;
  margin-right: 1.2rem;
}

#startGameButton{
  position: absolute;
  margin-top: -1rem;
  margin-left:1.8rem;
  border:0.2rem solid black;
  border-radius:20%;
  height: 3rem;
  width:5rem;
  background-color: rgb(44, 232, 44);
  color:black;;
  font-weight:bold;
  font-size:1rem;
  text-align: center;
  padding:auto;
  cursor:grab;
  box-shadow: -1px 1px 5px 3px rgba(5, 4, 4, 0.8)
}

/*Circle Containing Rotate and Movement Buttons*/
#playerShipMovementOuterButton {
  position: absolute;
  float: left;
  z-index: 3;
  margin-top: 6.5rem;
  margin-left: 0.9rem;
  border: 0.3rem solid black;
  border-radius: 50%;
  height: 105px;
  width: 105px;
  box-shadow: -1px 1px 5px 3px rgba(255, 255, 255, 0.8);
}
#rotatebutton {
  position: absolute;
  z-index:4;
  margin-left: 3.3rem;
  margin-top: 8.7rem;
  cursor: grab;
  background-color:black;
  border:0.2rem solid black;
  border-radius:50%;
  font-size:2rem;
  color: white;
  box-shadow: -1px 1px 5px 1px rgba(255, 255, 255, 0.8);
}

.movementButton {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

#moveShipUpButton {
  z-index: 3;
  margin-left: 3rem;
  margin-top: 7rem;
  border-bottom: 25px solid red;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-top: none;
  box-shadow: 0px 0.5px 0 rgb(0, 0, 0);
}

#moveShipLeftButton {
  z-index: 3;
  margin-left: 1.5rem;
  margin-top: 8.5rem;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid red;
  border-left: none;
  box-shadow: 0.5px 0px 0 rgb(0, 0, 0);
}

#moveShipRightButton {
  z-index: 3;
  margin-left: 6.1rem;
  margin-top: 8.5rem;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid red;
  border-right: none;
  box-shadow: -0.5px 0px 0 rgb(0, 0, 0);
}

#moveShipDownButton {
  z-index: 3;
  margin-left: 3rem;
  margin-top: 11.6rem;
  border-top: 25px solid red;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  border-bottom: none;
  box-shadow: 0 -0.5px 0 rgb(0, 0, 0);
}

/*__________________________________________________________________________________*/
/*Div containing name of currently selected ship*/
#currentSelectedShip{
  margin-top:17rem;
  padding:0.3rem;
  text-align: center;
  color:white;
  font-weight: 100;
  font-size:1.2rem;
  font-family:'Courier New', Courier, monospace;
  border: 0.4rem inset rgb(29, 29, 29);
  background-color: rgb(77, 74, 73);
  width:90%;
}