
body{
    font-size: 1rem;;
}

html{
    font-size : 1rem;
}

#darkModeButton{
    position: absolute;
    right:0.45rem;
    top: 0.2rem;
    background-color: rgb(26, 11, 11);
    color:white;
}

#fontSizeHeading{
    position: absolute;
    right: 6rem;
    top: 0.5rem;
}

#fontIncreaseButton{
    position: absolute;
    right: 4rem;
    top: 1.7rem;
    background-color: white;
}

#fontDecreaseButton{
    position: absolute;
    right: 2.5rem;
    top: 1.7rem;
    background-color: white;
}

#mainHeading{
    font-family: Helvetica, Arial, sans-serif;
}

.list li{
    float:left;
    list-style-position: inside;
    list-style-type: disc;
    margin-right: 1em;
}

#majorityMainDiv {
    float: left;
    width: 75%
    
}

#minorMainDiv {
    float: left;
  width: 25%;
  
}

.majorTextContent{
    text-align: left;
    text-justify: center;
    margin: 0.1rem;
    border: 0.1rem solid black;
    padding: 0.1rem;
    width: 90%;
}

#minorTextContent{
    border: 0.1em solid black;
    margin: 0.1rem;
    padding: 0.1rem;
}

#tableOfContentsHeading{
    font-weight: bold;
}

a{
    text-decoration: none;
}

#pageImage{
width: 16.1rem;
margin: 1rem;
border: 0.3rem solid black;
padding: 0.04rem;
}

footer {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  clear: both;
}
