/*Area at the bottom of the watch holding all location data and flag of current location*/

#locationSectionBackground {
    position: absolute;
    z-index: 3;
    margin-left: 6rem;
    margin-top: 23rem;
    width: 400px;
    height: 200px;
    border: 0.5rem solid black;
    border-radius: 30%;
    background: grey;
  }

