/*Styling Page for Watch Display*/

/*The Watch*/
#watchMainBackground {
  position: absolute;
  z-index: 2;
  margin-left: 21rem;
  margin-top: 0.5rem;
  width: 600px;
  height: 600px;
  border: 0.5rem outset rgb(178, 19, 19);
  outline: rgb(255, 255, 255) solid 0.4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 40%;
}

/*Image design on the watch face - sits behind all other watch elements*/
#watchMainBackgroundImage{
  position: absolute;
  z-index: 2;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 40%;
}

/*Area that contains the current time of the location and the Time Zone*/
#TimeArea {
  position: absolute;
  z-index: 3;
  height: 140px;
  width: 350px;
  margin-top: 11.5rem;
  margin-left: 13rem;
  border: 0.6rem inset rgb(26, 26, 26); 
  border-radius: 10%;
  color: white;
}

/*Class used to style all information regarding time - current time, time-zone, sunset, sunrise and day length*/
.timeDigit {
  position: absolute;
  z-index: 4;
  font-family: monospace, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 7rem;
  text-shadow: 1px 6px 7px rgba(243, 242, 242, 0.5), -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
  font-weight: bold;
  color: rgb(255, 252, 252);
}

/*Set Position and font-size of the current,local time display */
#currentTime {
  margin-top: 0.1rem;
  margin-left: 1.6rem;
  font-size: 7rem;
}

/*Set Position and font-size of the local Time Zone */
#timeZone {
  margin-top: 110px;
  margin-left: 8rem;
  font-size: 1.5rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Background of time area showing current time and time zone*/
#gearsImage {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  opacity: 30%; 
}

/*Area holding data for sunrise, sunset and length of day*/
#sunData{
  position: absolute;
  z-index: 2;
  margin-top: 21rem;
  margin-left: 3rem;
  width: 9rem;
  height: 9rem;
  border: 0.6rem outset rgb(26, 26, 26);
  border-radius: 45%;
  outline: rgb(214, 213, 213) solid 0.1rem;
  

}

/*Div holding Image for current time of day*/
#sunImageSection {
  position: absolute;
  z-index: 3;
  margin-top: 14rem;
  margin-left: 1rem;
  width: 8rem;
  height: 8rem;
  border: 0.6rem outset rgb(26, 26, 26);
  border-radius: 45%;
  outline: rgb(214, 213, 213) solid 0.1rem;
}

/*Background of Sun Area*/
#timeOfDayImageBackground {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 45%;
}

/*Position and Font for sunsrise time*/
#sunriseTime{
  margin-top: 2rem;
  margin-left:0.7rem;
  font-size: 1rem;
  text-shadow:  -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

/*Position and Font for sunset time*/
#sunsetTime{
  margin-top: 3.5rem;
  margin-left:0.7rem;
  font-size: 1rem;
  text-shadow:  -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

/*Position and Font for length of day*/
#dayLength{
  margin-top: 5rem;
  margin-left:0.7rem;
  font-size: 1rem;
  text-shadow:  -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#batteryLevel{
  position: absolute;
  z-index: 3;
  height: 45px;
  width: 220px;
  margin-top: 23rem;
  margin-left: 20rem;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
  color: white;
  font-size: 1.7rem;
  font-family: fantasy, Helvetica, sans-serif;
  text-shadow:  -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black;
  border: 0.5rem ridge rgb(26, 26, 26); 
  border-radius: 20%;
  background:rgb(21, 21, 21, 0.1);
  outline: rgb(214, 213, 213) solid 0.1rem;
}
